---
interface Props {
  title: string
  description: string
  href: string
  icon: string
  stack: { name: string; icon: string }[]
}

const { href, title, description, stack, icon } = Astro.props
---

<li
  class='project-card group/card rounded-lg border border-border bg-background transition hover:bg-primary/5'
>
  <a target='_blank' href={href} class='flex flex-col gap-2 p-2'>
    <header class='flex items-center gap-1'>
      <img src={icon} alt={`${title} icon`} class='size-6' />
      <h2 class='font-semibold'>
        {title}
      </h2>
      <img
        class='size-4 transition group-hover/card:translate-x-1'
        src='/svg/arrow-right.svg'
        alt='arrow right icon'
      />
    </header>
    <p class='text-sm text-secondary'>
      {description}
    </p>
    <ul class='flex flex-wrap gap-1'>
      {
        stack.map((item) => (
          <li class='flex items-center gap-1 rounded-[4px] border border-secondary/15 bg-muted px-[6px] py-1 text-xs'>
            <img src={item.icon} class='size-4' alt='' />
            {item.name}
          </li>
        ))
      }
    </ul>
  </a>
</li>
